<!-- /templates/product.liquid -->
<div>
  <article class="u-md-flex" itemscope itemtype="http://schema.org/Product">
    <div class="u-md-flexGrow1">
      <div>
        <a href="{{ product.featured_image.src | product_img_url: 'original' }}">
          <img alt="{{ product.featured_image.alt | escape }}" src="{{ product.featured_image.src | product_img_url: '500x500', scale: 2 }}" itemprop="image">
        </a>
      </div>
      <div class="u-flex">
        {% for image in product.images | offset:1 %}
        <div>
          <a href="{{ image.src | product_img_url: '1000x1000', scale: 2 }}">
            <img alt="{{ image.alt | escape }}" src="{{ image.src | product_img_url: '250x250', scale: 2 }}">
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="u-md-flexGrow1">
      <h1 itemprop="name">{{ product.title }}</h1>
      <div class="RichText">
        {{ product.description}}
      </div>
      <div class="price-field"></div>
      <form action="/cart/add" method="post">
        <div>
          <select id="product-select" name="id">
            {% for variant in product.variants %}
              {% if variant.inventory_management == blank or variant.inventory_policy == 'continue' or variant.inventory_quantity > 0 %}
              <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
              {% else %}
              <option disabled value="{{ variant.id }}">{{ variant.title }} - Sold out</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>
        <button class="Button" name="add" type="submit">Add to cart</button>
      </form>
    </div>
  </article>
  <aside>
    {% if collection %}
    <div>
      {% if collection.previous_product %}
        <div>{{ 'Previous product' | link_to: collection.previous_product.url, collection.previous_product.title }}</div>
      {% endif %}
      {% if collection.next_product %}
        <div>{{ 'Next product' | link_to: collection.next_product.url, collection.next_product.title }}</div>
      {% endif %}
     </div>
     {% endif %}
  </aside>
</div>
